﻿@model Producks.Web.Models.ProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Products Filter</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowProducts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="ShowProducts" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

